body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 10px;
  background-color: #333;
}

main {
  display: flex;
  margin: auto;
  /* border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px; */
}

#logo {
  height: 30px;
  padding-inline: 10px;
}

.container {
  flex: 1;
  overflow: hidden;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 30px;
}

.toggle-switches {
  display: flex;
  justify-content: center;
}

.toggle-switches > div {
  margin: 20px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.fileListContainer {
  flex: 1;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 250px; /* Adjust as needed */
  margin: auto; /* Center the container */
  text-align: center; /* Center text */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px; /* Add some padding around the contents */
}

h3 {
  margin-bottom: 20px; /* Add some space below the title */
}

#fileList {
  width: 100%; /* Take full width of the container */
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 10px; /* Add some space below the list */
}

#fileList div {
  padding: 5px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

#fileList div:hover {
  background-color: #f0f0f0;
}

#fileList div.selected {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
